<%- include("sidebar.ejs") %>
<main class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:pl-72">
  <!-- Features -->
  <section class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8">
      <!-- Stats -->
      <div>
        <h4 class="text-lg sm:text-xl font-semibold text-gray-800">
          Accuracy Rate
        </h4>
        <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-pirus">
          99.95%
        </p>
        <p class="mt-1 text-gray-500">in fulfilling orders</p>
      </div>
      <!-- End Stats -->

      <!-- Stats -->
      <div>
        <h4 class="text-lg sm:text-xl font-semibold text-gray-800">
          Startup Businesses
        </h4>
        <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-pirus">
          2,000+
        </p>
        <p class="mt-1 text-gray-500">partner with Preline</p>
      </div>
      <!-- End Stats -->

      <!-- Stats -->
      <div>
        <h4 class="text-lg sm:text-xl font-semibold text-gray-800">
          Happy Customers
        </h4>
        <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-pirus">
          85%
        </p>
        <p class="mt-1 text-gray-500">this year alone</p>
      </div>
      <!-- End Stats -->
    </div>
    <!-- End Grid -->
  </section>
  <!-- End Features -->
</main>
