<%- include("sidebar.ejs") %>
<main class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:pl-72">
    <!-- Card Section -->
<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 sm:p-7">
      <form action="/uploadmateri" method="post" >
        <!-- Section -->
        <div class="grid sm:grid-cols-12 gap-2 sm:gap-4 py-8 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200">
          <div class="sm:col-span-12">
            <h2 class="text-lg font-semibold text-gray-800">
              Upload Material
            </h2>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-3">
            <label for="kelas" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
              Class
            </label>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <div class="sm:flex">
                <select
                name="kelas"
                id="kelas"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              >
                <option value="" disabled selected hidden>Choose Class</option>
                <option value="1">SD-Kelas 1</option>
                <option value="2">SD-Kelas 2</option>
                <option value="3">SD-Kelas 3</option>
                <option value="4">SD-Kelas 4</option>
                <option value="5">SD-Kelas 5</option>
                <option value="6">SD-Kelas 6</option>
                <option value="7">SMP-Kelas 1</option>
                <option value="8">SMP-Kelas 2</option>
                <option value="9">SMP-Kelas 3</option>
                <option value="10">SMA-Kelas 1</option>
                <option value="11">SMA-Kelas 2</option>
                <option value="12">SMA-Kelas 3</option>

              </select>
             
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-3">
            <label for="af-submit-application-email" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
              Topic
            </label>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <div class="sm:flex">
                <select
                name="name"
                id="name"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              >
                <option value="" disabled selected hidden>Choose Topic</option>
                <option value="math">Math</option>
                <option value="english">English</option>
                <option value="physics">Physics</option>
                <option value="biology">Biology</option>
                <option value="chemistry">Chemistry</option>
                

              </select>
             
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-3">
            <div class="inline-block">
              <label for="af-submit-application-phone" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                Title
              </label>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <input id="af-submit-application-phone" type="text" name="title1" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
  
         
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-3">
            <div class="inline-block">
              <label for="af-submit-application-current-company" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                Sub Material
              </label>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <input id="af-submit-application-current-company" type="text" name="title2" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <!-- End Col -->
          <!-- End Col -->
  
          <div class="sm:col-span-3">
            <div class="inline-block">
              <label for="af-submit-application-current-company" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                
              </label>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <input id="af-submit-application-current-company" type="text" name="title3" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <!-- End Col -->
          <!-- End Col -->
  
          <div class="sm:col-span-3">
            <div class="inline-block">
              <label for="af-submit-application-current-company" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                
              </label>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <input id="af-submit-application-current-company" type="text" name="title4" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <!-- End Col -->
          <div class="sm:col-span-3">
            <div class="inline-block">
              <label for="af-submit-application-current-company" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                
              </label>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <input id="af-submit-application-current-company" type="text" name="title5" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <!-- End Col -->
          <div class="sm:col-span-3">
            <div class="inline-block">
              <label for="af-submit-application-current-company" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                
              </label>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <input id="af-submit-application-current-company" type="text" name="title6" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <!-- End Col -->
          <div class="sm:col-span-3">
            <div class="inline-block">
              <label for="af-submit-application-current-company" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                
              </label>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <input id="af-submit-application-current-company" type="text" name="title7" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <!-- End Col -->
          <div class="sm:col-span-3">
            <div class="inline-block">
              <label for="af-submit-application-current-company" class="inline-block text-sm font-medium text-gray-500 mt-2.5">
                
              </label>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="sm:col-span-9">
            <input id="af-submit-application-current-company" type="text" name="title" class="py-2 px-3 pe-11 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <!-- End Col -->
        </div>
       
        <!-- End Section -->
  
        <!-- Section -->
      
        <!-- End Section -->
  
        <!-- Section -->
       
        <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-pirus text-white hover:bg-piruss disabled:opacity-50 disabled:pointer-events-none">
          Submit 
        </button>
      </form>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Card Section -->
    </main>
    <script src="/preline.js"></script>
</body>
</html>
