<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="">
    <h1><%= title %></h1>
    
    <script src="/preline.js"></script>
  </body>
</html>
