
<%- include("sidebar.ejs")  %>
    <!-- Content -->
    <div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:ps-72 ">
        <!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8">
      <!-- Stats -->
      <div>
        <h4 class="text-lg sm:text-xl font-semibold text-gray-800">Accuracy rate</h4>
        <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-pirus">99.95%</p>
        <p class="mt-1 text-gray-500">in fulfilling orders</p>
      </div>
      <!-- End Stats -->
  
      <!-- Stats -->
      <div>
        <h4 class="text-lg sm:text-xl font-semibold text-gray-800">Startup businesses</h4>
        <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-pirus">2,000+</p>
        <p class="mt-1 text-gray-500">partner with Preline</p>
      </div>
      <!-- End Stats -->
  
      <!-- Stats -->
      <div>
        <h4 class="text-lg sm:text-xl font-semibold text-gray-800">Happy customer</h4>
        <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-pirus">85%</p>
        <p class="mt-1 text-gray-500">this year alone</p>
      </div>
      <!-- End Stats -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->

<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Last Access Course</h2>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10 lg:mb-14">
      <!-- Card -->
      <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" href="#">
        <div class="aspect-w-16 aspect-h-9">
          <img class="w-full object-cover rounded-t-xl" src="/images/math.webp" alt="Image Description">
        </div>
        <div class="p-4 md:p-5">
          <p class="mt-2 text-xs uppercase text-gray-600">
            Product
          </p>
          <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600">
            Better is when everything works together
          </h3>
        </div>
      </a>
      <!-- End Card -->
  
      <!-- Card -->
      <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" href="#">
        <div class="aspect-w-16 aspect-h-9">
          <img class="w-full object-cover rounded-t-xl" src="/images/physic.jpg" alt="Image Description">
        </div>
        <div class="p-4 md:p-5">
          <p class="mt-2 text-xs uppercase text-gray-600">
            Business
          </p>
          <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600">
            What CFR really is about
          </h3>
        </div>
      </a>
      <!-- End Card -->
  
      <!-- Card -->
      <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" href="#">
        <div class="aspect-w-16 aspect-h-9">
          <img class="w-full object-cover rounded-t-xl" src="/images/chemystry.jpg" alt="Image Description">
        </div>
        <div class="p-4 md:p-5">
          <p class="mt-2 text-xs uppercase text-gray-600">
            Business
          </p>
          <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600">
            Should Product Owners think like entrepreneurs?
          </h3>
        </div>
      </a>
      <!-- End Card -->
  
      <!-- Card -->
      <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" href="#">
        <div class="aspect-w-16 aspect-h-9">
          <img class="w-full object-cover rounded-t-xl" src="https://images.unsplash.com/photo-1668584054131-d5721c515211?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" alt="Image Description">
        </div>
        <div class="p-4 md:p-5">
          <p class="mt-2 text-xs uppercase text-gray-600">
            Facilitate
          </p>
          <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600">
            Announcing Front Strategies: Ready-to-use rules
          </h3>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  
    <!-- Card -->
    
    <!-- End Card -->
  </div>
  <!-- End Card Blog -->

    </div>
    <!-- End Content -->
    <!-- ========== END MAIN CONTENT ========== -->
    <script src="/preline.js"></script>
  </body>
</html>
