<%- include("sidebar.ejs") %>
<!-- Content -->
<main class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:pl-72">
    <section class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Grid -->
        <div class="grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8">
          <!-- Stats -->
          <div>
            <h4 class="text-lg sm:text-xl font-semibold text-gray-800">
              Total Student
            </h4>
            <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-pirus">
              9999
            </p>
          </div>
          <!-- End Stats -->
    
          <!-- Stats -->
          <div>
            <h4 class="text-lg sm:text-xl font-semibold text-gray-800">
              Total Course
            </h4>
            <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-pirus">
              2,000+
            </p>
          </div>
          <!-- End Stats -->
    
          <!-- Stats -->
          <div>
            <h4 class="text-lg sm:text-xl font-semibold text-gray-800">
              Total Teacher
            </h4>
            <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-pirus">
              5555
            </p>
          </div>
          <!-- End Stats -->
        </div>
        <!-- End Grid -->
      </section>

    <!-- Card Blog -->
    <section class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Title -->
        <header class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
            <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Last Accessed Courses</h2>
        </header>
        <!-- End Title -->

        <!-- Grid -->
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10 lg:mb-14">
            <!-- Card -->
            <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" href="#">
                <div class="aspect-w-16 aspect-h-9">
                    <img class="w-full object-cover rounded-t-xl" src="/images/math.webp" alt="Math">
                </div>
                <div class="p-4 md:p-5">
                    <p class="mt-2 text-xs uppercase text-gray-600">6th Grade</p>
                    <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-pirus">Math</h3>
                </div>
            </a>
            <!-- End Card -->

            <!-- Card -->
            <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" href="#">
                <div class="aspect-w-16 aspect-h-9">
                    <img class="w-full object-cover rounded-t-xl" src="/images/physic.jpg" alt="Physics">
                </div>
                <div class="p-4 md:p-5">
                    <p class="mt-2 text-xs uppercase text-gray-600">6th Grade</p>
                    <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-pirus">Physics</h3>
                </div>
            </a>
            <!-- End Card -->

            <!-- Card -->
            <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" href="#">
                <div class="aspect-w-16 aspect-h-9">
                    <img class="w-full object-cover rounded-t-xl" src="/images/chemistry.jpg" alt="Chemistry">
                </div>
                <div class="p-4 md:p-5">
                    <p class="mt-2 text-xs uppercase text-gray-600">6th Grade</p>
                    <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-pirus">Chemistry</h3>
                </div>
            </a>
            <!-- End Card -->

            <!-- Card -->
            <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" href="#">
                <div class="aspect-w-16 aspect-h-9">
                    <img class="w-full object-cover rounded-t-xl" src="/images/history.jpg" alt="History">
                </div>
                <div class="p-4 md:p-5">
                    <p class="mt-2 text-xs uppercase text-gray-600">6th Grade</p>
                    <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-pirus">History</h3>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Grid -->
    </section>
    <!-- End Card Blog -->
</main>
<!-- End Content -->
<!-- ========== END MAIN CONTENT ========== -->
<script src="/preline.js"></script>
</body>
</html>
