<%- include("sidebar.ejs") %>
<!-- Content -->
<main class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:pl-72">

    <div id="notifications-container">
       
            <div class="mb-4 p-4 border border-gray-200 rounded-lg bg-white shadow-md flex justify-between items-center">
              <div>
                <h2 class="text-xl font-semibold">Youre Request Was Accepted</h2>
                <p class="notification-meta text-sm text-gray-600">
                  <span class="font-medium">Date: 11 september 2011</span> 
                </p>
                <p class="notification-meta text-sm text-gray-600">
                  <span class="font-medium">At: 7.14</span> 
                </p>
                <p class="text-gray-700">here your meeting link : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, corporis dicta autem maxime temporibus facere placeat magnam eveniet incidunt quasi laboriosam nulla vitae unde deleniti deserunt optio enim, fugiat veniam.</p>
              </div>
            </div>
  
  
       
      </div>

</main>
<!-- End Content -->
<!-- ========== END MAIN CONTENT ========== -->
<script src="/preline.js"></script>
</body>
</html>
